<div class="row bg-title">
  <div class="col-lg-12">
    <h4 class="page-title">{{title}}</h4>
    <ol class="breadcrumb">
        <li><a href="#">Administrador</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">{{title}}</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="card mb-3">
  <div class="card-body">

      <div class="table-responsive">
          <div class="box-body">

              <div class="col-sm-12">
                <div class="white-box">
                    <h3>Data Table</h3>
                    <div class="row">
                      <div class="col-md-4 text-center">
                        <!-- <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" (click)="limpiar();cargarFree();" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button> -->
                      </div>
                      <div class="col-md-3 col-xs-offset-5">
                          <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                        </div>

                    </div>
                    <table class="table table-hover table-responsive" [mfData]="Table | filter : search" #mf="mfDataTable"
                             [mfRowsOnPage]="rowsOnPage">
                        <thead>
                          <tr>
                            <th style="width:10%;">
                                <mfDefaultSorter by="torneos.nombre">Torneo</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="tipos.nombre">Tipo</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="hora">Hora</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="descripcion">Descripcion</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="grupos.nombre">Grupo</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="equipos[0].equipos.nombre">Local</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="equipos[1].equipos.nombre">Visita</mfDefaultSorter></th>
                            <th style="width:20%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of mf.data">
                            <td>{{((data.torneos!=null)?data.torneos.nombre+' - '+data.torneos.tipos.nombre:'')}}</td>
                            <td>{{((data.tipos!=null)?data.tipos.nombre:'')}}</td>
                            <td>{{((data.fecha!=null)?data.fecha:'')}}</td>
                            <td>{{((data.hora!=null)?data.hora:'')}}</td>
                            <td>{{((data.descripcion!=null)?data.descripcion:'')}}</td>
                            <td>{{((data.grupos!=null)?data.grupos.nombre:'')}}</td>
                            <td>{{((data.equipos[0]!=null)?((data.equipos[0].equipos)?data.equipos[0].equipos.nombre:''):'')}}</td>
                            <td>{{((data.equipos[1]!=null)?((data.equipos[1].equipos)?data.equipos[1].equipos.nombre:''):'')}}</td>
                            <td>

                                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                  <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                          <tr>
                              <td colspan="5">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                    </table>
                </div>
            </div>

          </div>
      </div>
  </div>
  <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>


<div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingreso de datos</h4>
            </div>
            <div class="modal-body">

                <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">

                    <div class="form-group col-xs-6 m-b-15" >
                        <label for="description">Equipos</label>
                        <input type="text" class="form-control" placeholder="Busqueda de Equipos" [(ngModel)]="search1" [ngModelOptions]="{standalone: true}">
                        <div droppable (onDrop)="onItemRemove($event)" class="listaDrag">
                          <li draggable [dragData]="Data" *ngFor = "let Data of childs |filter:search1" class="alert alert-success" >
                            {{((Data.nombre!=null)?Data.nombre:'')}}{{((Data.torneos!=null)?' - '+Data.torneos.nombre:'')}}
                          </li>
                        </div>

                    </div>
                      <div  class="form-group col-xs-6 m-b-15" >
                        <div  class="form-group col-xs-6 m-b-15" >
                          <label for="torneo">Torneo</label>
                          <select name="torneo" class="form-control" id="torneo" required ngModel #torneo="ngModel" [(ngModel)]="selectedParent">
                            <option *ngFor="let Data of parentCombo" value="{{Data.id}}">{{((Data.nombre!=null)?Data.nombre:'')}}</option>
                          </select>
                        </div>
                        <div  class="form-group col-xs-6 m-b-15" >
                          <label for="tipo">Tipo</label>
                          <select name="tipo" class="form-control" id="tipo" required ngModel #tipo="ngModel" [(ngModel)]="selectedType">
                            <option *ngFor="let Data of typeCombo" value="{{Data.id}}">{{((Data.nombre!=null)?Data.nombre:'')}}</option>
                          </select>
                        </div>
                        <div  class="form-group col-xs-6 m-b-15" >
                          <label for="fecha">Fecha</label>
                          <input type="date" name="fecha" class="form-control" id="fecha" required ngModel [(ngModel)]="beginDate" #fecha="ngModel"/>
                        </div>
                        <div  class="form-group col-xs-6 m-b-15" >
                          <label for="hora">Hora</label>
                          <input type="time" name="hora" class="form-control" id="hora" required ngModel [(ngModel)]="firstHora" #hora="ngModel"/>
                        </div>
                        <div class="form-group col-xs-12 m-b-15">
                            <label for="grupo">Grupo</label>
                            <select class="form-control" id="grupo" name="grupo"
                                    ngModel #grupo="ngModel">
                                <option *ngFor="let data of comboThirthParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                            </select>
                              <div *ngIf="grupo.invalid && (grupo.dirty || grupo.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="grupo.errors.required">
                                      La grupo es invalido
                                  </small>
                              </div>
                        </div>
                        <div  class="form-group col-xs-12 m-b-15" >
                          <div droppable (onDrop)="onItemDrop($event)"  class="listaDragDer " >
                            <li draggable [dragData]="item" *ngFor="let item of selectedData" class="alert alert-info">
                              {{((item.nombre!=null)?item.nombre:'')}}
                            </li>
                          </div>
                        </div>
                      </div>

                    <div class="form-group col-xs-12 text-right m-b-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



  </div>
  <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edicion de datos</h4>
            </div>
            <div class="modal-body" *ngIf="selectedMyData">

                <form id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">

                    <div class="form-group col-xs-6 m-b-15" >
                        <label for="description">Equipos</label>
                        <input type="text" class="form-control" placeholder="Busqueda de Equipos" [(ngModel)]="search1" [ngModelOptions]="{standalone: true}">
                        <div droppable (onDrop)="onItemRemove($event)" class="listaDrag">
                          <li draggable [dragData]="Data" *ngFor = "let Data of childs |filter:search1" class="alert alert-success" >
                            {{((Data.nombre!=null)?Data.nombre:'')}}{{((Data.torneos!=null)?' - '+Data.torneos.nombre:'')}}
                          </li>
                        </div>

                    </div>
                      <div  class="form-group col-xs-6 m-b-15" >
                        <div  class="form-group col-xs-6 m-b-15" >
                          <label for="torneo">Torneo</label>
                          <select name="torneo" class="form-control" id="torneo" required ngModel #torneo="ngModel" [(ngModel)]="selectedMyData.torneo">
                            <option *ngFor="let Data of parentCombo" value="{{Data.id}}">{{((Data.nombre!=null)?Data.nombre:'')}}</option>
                          </select>
                        </div>
                        <div  class="form-group col-xs-6 m-b-15" >
                          <label for="tipo">Tipo</label>
                          <select name="tipo" class="form-control" id="tipo" required ngModel #tipo="ngModel" [(ngModel)]="selectedMyData.tipo">
                            <option *ngFor="let Data of typeCombo" value="{{Data.id}}">{{((Data.nombre!=null)?Data.nombre:'')}}</option>
                          </select>
                        </div>
                        <div  class="form-group col-xs-6 m-b-15" >
                          <label for="fecha">Fecha</label>
                          <input type="date" name="fecha" class="form-control" id="fecha" required ngModel [(ngModel)]="selectedMyData.fecha" #fecha="ngModel"/>
                        </div>
                        <div  class="form-group col-xs-6 m-b-15" >
                          <label for="hora">Hora</label>
                          <input type="time" name="hora" class="form-control" id="hora" required ngModel [(ngModel)]="selectedMyData.hora" #hora="ngModel"/>
                        </div>
                        <div class="form-group col-xs-12 m-b-15">
                            <label for="grupo">Grupo</label>
                            <select class="form-control" id="grupo" name="grupo" [(ngModel)]="selectedMyData.grupo"
                                    ngModel #grupo="ngModel">
                                <option value=""></option>
                                <option *ngFor="let data of comboThirthParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                            </select>
                              <div *ngIf="grupo.invalid && (grupo.dirty || grupo.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="grupo.errors.required">
                                      La grupo es invalido
                                  </small>
                              </div>
                        </div>
                        <div  class="form-group col-xs-12 m-b-15" >
                          <div droppable (onDrop)="onItemDrop($event)"  class="listaDragDer " >
                            <li draggable [dragData]="item" *ngFor="let item of selectedData" class="alert alert-info">
                              {{((item.nombre!=null)?item.nombre:'')}}
                            </li>
                          </div>
                        </div>
                      </div>
                    <input type="hidden" name="id" class="form-control" id="id" ngModel [(ngModel)]="selectedMyData.id" #id="ngModel"/>
                    <div class="form-group col-xs-12 text-right m-b-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



  </div>

  <div class="modal fade" id="Loading">
      <div class="modal-dialog">
        <div class="text-center" style="margin-top:50%;">
    <app-loader></app-loader>
        </div>
      </div>
    </div>

