<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">{{title}}</h4>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="card mb-3 bg-dark">
  <h5 class="card-title text-rigth"><button type="button" class="btn btn-info" (click)="goToBack()"><i class="fa fa-arrow-left"></i></button></h5>
  <div class="card-body">

    <angular2-fullcalendar id="myCalendar" [options]="calendarOptions" ></angular2-fullcalendar>

  </div>
  <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>

<div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
  <app-loader></app-loader>
      </div>
    </div>
  </div>
