<div class="container h-100">

  <div class="row h-90">
    <div *ngFor="let data of Table" class="cardcol-xs-6 col-sm-6 col-md-6 col-lg-6 content-boton text-center" [routerLink]="[ './../calendario', data.id ]" (click)="darValor(data.id)">
      <img src="http://placehold.it/300X300?text={{data.nombre}}">
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block boton" [routerLink]="[ './../calendario', data.id ]" (click)="darValor(data.id)"><i class="fa  fa-code-fork fa-fw"></i> {{data.nombre}}</button>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4">
        <button type="button" class="btn btn-primary btn-lg btn-block boton" [routerLink]="[ './../../login' ]"><i class="fa fa-sign-in"></i> Acceder</button>
    </div>
  </div>



</div>


<div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
  <app-loader></app-loader>
      </div>
    </div>
  </div>
