<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">{{title}}</h4>
      <ol class="breadcrumb">
          <li><a href="#">Administrador</a></li>
          <li><a href="#">Tables</a></li>
          <li class="active">{{title}}</li>
      </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="card mb-3">
  <div class="card-body">

      <div class="table-responsive">
          <div class="box-body">

              <div class="col-sm-12">
                <div class="white-box">
                    <h3>Data Table</h3>
                    <div class="row">
                      <div class="col-md-4 text-center">
                        <!-- <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertAutoModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button> -->
                      </div>
                      <div class="col-md-3 col-xs-offset-5">
                          <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                        </div>

                    </div>
                    <table class="table table-hover table-responsive" [mfData]="Table | filter : search" #mf="mfDataTable"
                             [mfRowsOnPage]="rowsOnPage">
                        <thead>
                          <tr>
                            <th style="width:20%;">
                                <mfDefaultSorter by="torneos.nombre">Torneo</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="tipos.nombre">Tipo</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter></th>
                            <th style="width:10%;">
                                <mfDefaultSorter by="hora">Hora</mfDefaultSorter></th>
                            <th style="width:15%;">
                                <mfDefaultSorter by="equipos[0].equipos.nombre">Local</mfDefaultSorter></th>
                            <th style="width:15%;">
                                <mfDefaultSorter by="equipos[1].equipos.nombre">Visita</mfDefaultSorter></th>
                            <th style="width:20%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of mf.data">
                            <td>{{((data.torneos.nombre!=null)?data.torneos.nombre:'')}}</td>
                            <td>{{((data.tipos.nombre!=null)?data.tipos.nombre:'')}}</td>
                            <td>{{((data.fecha!=null)?data.fecha:'')}}</td>
                            <td>{{((data.hora!=null)?data.hora:'')}}</td>
                            <td>{{((data.equipos[0]!=null)?data.equipos[0].equipos.nombre:'')}}</td>
                            <td>{{((data.equipos[1]!=null)?data.equipos[1].equipos.nombre:'')}}</td>
                            <td>

                              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>

                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                          <tr>
                              <td colspan="5">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                    </table>
                </div>
            </div>

          </div>
      </div>
  </div>
  <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>


<div id="insertAutoModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingreso de datos</h4>
            </div>
            <div class="modal-body">
                <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                    <div  class="form-group col-xs-6 m-b-15" >
                      <label for="fecha">Fecha</label>
                      <input type="date" name="fecha" class="form-control" id="fecha" required ngModel [(ngModel)]="beginDate" #fecha="ngModel"/>
                    </div>
                    <div  class="form-group col-xs-6 m-b-15" >
                      <label for="hora">Hora</label>
                      <input type="time" name="hora" class="form-control" id="hora" required ngModel [(ngModel)]="firstHora" #hora="ngModel"/>
                    </div>
                    <div class="form-group col-xs-6 m-b-15">
                        <label for="torneo">Torneo</label>
                        <select class="form-control" id="torneo" name="torneo" required
                                ngModel #torneo="ngModel">
                            <option *ngFor="let data of comboSecondParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                        </select>
                          <div *ngIf="torneo.invalid && (torneo.dirty || torneo.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="torneo.errors.required">
                                  La Torneo es invalido
                              </small>
                          </div>
                    </div>
                    <div class="form-group col-xs-6 m-b-15">
                        <label for="tipo">Tipo</label>
                        <select class="form-control" id="tipo" name="tipo" required
                                ngModel #tipo="ngModel">
                            <option *ngFor="let data of comboParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                        </select>
                          <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="tipo.errors.required">
                                  La Tipo es invalido
                              </small>
                          </div>
                    </div>
                    <div class="input-group col-xs-4 col-xs-offset-4 text-center m-b-15">
                          <input type="number" name="cant" class="form-control" id="cant" [(ngModel)]="diasConst" ngModel #cant="ngModel"/>
                          <span class="input-group-btn">
                              <button type="button" (click)="addDate(InsertForm.value)" class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>
                          </span>
                    </div>
                    <!-- <div class="form-group col-xs-12 text-right m-b-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div> -->
                </form>

            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



  </div>

<div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Edicion de datos</h4>
          </div>
          <div class="modal-body" *ngIf="selectedData">
              <form id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                <div  class="form-group col-xs-6 m-b-15" >
                  <label for="fecha">Fecha</label>
                  <input type="date" name="fecha" class="form-control" id="fecha" required ngModel [(ngModel)]="selectedData.fecha" #fecha="ngModel" disabled/>
                </div>
                <div  class="form-group col-xs-6 m-b-15" >
                  <label for="hora">Hora</label>
                  <input type="time" name="hora" class="form-control" id="hora" required ngModel [(ngModel)]="selectedData.hora" #hora="ngModel" disabled/>
                </div>
                <div class="form-group col-xs-6 m-b-15">
                    <label for="torneo">Torneo</label>
                    <select class="form-control" id="torneo" name="torneo" required disabled
                            ngModel #torneo="ngModel" [(ngModel)]="selectedData.torneo">
                        <option *ngFor="let data of comboSecondParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                    </select>
                      <div *ngIf="torneo.invalid && (torneo.dirty || torneo.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="torneo.errors.required">
                              La Torneo es invalido
                          </small>
                      </div>
                </div>
                <div class="form-group col-xs-6 m-b-15">
                    <label for="tipo">Tipo</label>
                    <select class="form-control" id="tipo" name="tipo" required disabled
                            ngModel #tipo="ngModel" [(ngModel)]="selectedData.tipo">
                        <option *ngFor="let data of comboParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                    </select>
                      <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="tipo.errors.required">
                              La Tipo es invalido
                          </small>
                      </div>
                </div>
                <input type="hidden" class="form-control" id="id" name="id" required
                        ngModel #id="ngModel" [(ngModel)]="selectedData.id">
                <div class="form-group col-xs-12 text-right m-b-15">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                </div>
                <div class="form-group col-xs-6 col-xs-offset-3 m-b-15">
                    <label for="equipos1">Equipos</label>
                    <select class="form-control" id="equipos1" name="equipos1" required
                            ngModel #equipos1="ngModel" (change)="cargarChilds(equipos1.value)">
                        <option *ngFor="let item of selectedData.equipos" value="{{item.equipos.id}}">{{((item.equipos!=null)?item.equipos.nombre:'')}}</option>
                    </select>
                      <div *ngIf="equipos1 .invalid && (equipos1 .dirty || equipos1 .touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="equipos1 .errors.required">
                              La Equipos es invalido
                          </small>
                      </div>
                </div>


                <table *ngIf="selectedData.equipos" class="table table-hover table-responsive" [mfData]="jugadoresData | filter : search" #mf="mfDataTable"
                           [mfRowsOnPage]="rowsOnPage">
                  <thead>
                      <tr>
                          <th style="width:15%; text-align:center;">
                              <mfDefaultSorter by="picture">Foto</mfDefaultSorter></th>
                          <th style="width:20%;">
                              <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                          <th style="width:20%;">
                              <mfDefaultSorter by="telefono">Telefono</mfDefaultSorter></th>
                          <th style="width:20%; text-align:center;">
                              <mfDefaultSorter by="telefono">Goles</mfDefaultSorter></th>
                          <th style="width:20%;"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr  *ngFor="let data of mf.data">
                        <td style="text-align:center;"><img src="{{((data.picture!=null)?data.picture:'')}}" heigth="50px" width="50px"></td>
                        <td>{{((data.nombre!=null)?data.nombre+' ':'')+((data.apellido!=null)?data.apellido:'')}}</td>
                        <td>{{((data.telefono!=null)?data.telefono:'')}}</td>
                        <td style="text-align:center;">
                              <input type="number" class="form-control" name="goles" id="goles" ngModel #goles="ngModel" [(ngModel)]="data.goles" [ngModelOptions]="{standalone: true}">
                        </td>
                        <td style="text-align:center;">
                            <button type="button" class="btn btn-success btn-circle btn-lg" (click)="added(goles.value,data.id,equipos1.value,selectedData.id)"><i class="fa fa-save" ></i></button>
                        </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
              </table>
              </form>

          </div>
          <div class="modal-footer" style="border:none;">

          </div>
      </div>
  </div>



</div>

<div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
  <app-loader></app-loader>
      </div>
    </div>
  </div>
