<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">{{title}}</h4>
      <ol class="breadcrumb">
          <li><a href="#">Administrador</a></li>
          <li><a href="#">Tables</a></li>
          <li class="active">{{title}}</li>
      </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="card mb-3">
  <div class="card-body">

      <div class="table-responsive">
          <div class="box-body">

              <div class="col-sm-12">
                <div class="white-box">
                    <h3>Data Table</h3>
                    <div class="row">
                      <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button>
                      </div>
                      <div class="col-md-3 col-xs-offset-5">
                          <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                        </div>

                    </div>
                    <table class="table table-hover table-responsive" [mfData]="Table | filter : search" #mf="mfDataTable"
                             [mfRowsOnPage]="rowsOnPage">
                        <thead>
                            <tr>
                                <th style="width:30%;">
                                    <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                                <th style="width:20%;">
                                    <mfDefaultSorter by="telefono">Telefono</mfDefaultSorter></th>
                                <th style="width:20%;">
                                    <mfDefaultSorter by="tipos.nombre">Posicion</mfDefaultSorter></th>
                                <th style="width:30%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of mf.data">
                                <td>{{((data.nombre!=null)?data.nombre+' ':'')+((data.apellido!=null)?data.apellido:'')}}</td>
                                <td>{{((data.telefono!=null)?data.telefono:'')}}</td>
                                <td>{{((data.tipos!=null)?data.tipos.nombre:'')}}</td>
                                <td>

                                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                  <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                          <tr>
                              <td colspan="5">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                    </table>
                </div>
            </div>

          </div>
      </div>
  </div>
  <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>


<div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingreso de datos</h4>
            </div>
            <div class="modal-body">
                <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                    <div class="form-group col-xs-12 m-b-15">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required
                                ngModel #nombre="ngModel" placeholder="nombre">
                          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="nombre.errors.required">
                                  La Nombre es invalido
                              </small>
                          </div>
                    </div>
                    <div class="form-group col-xs-12 m-b-15">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required
                                ngModel #apellido="ngModel" placeholder="apellido">
                          <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="apellido.errors.required">
                                  La Apellido es invalido
                              </small>
                          </div>
                    </div>
                    <div class="form-group col-xs-12 m-b-15">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required
                                ngModel #telefono="ngModel" placeholder="telefono">
                          <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="telefono.errors.required">
                                  La Telefono es invalido
                              </small>
                          </div>
                    </div>
                    <div class="form-group col-xs-12 m-b-15">
                        <label for="tipo">Tipo</label>
                        <select class="form-control" id="tipo" name="tipo" required
                                ngModel #tipo="ngModel">
                            <option *ngFor="let data of comboParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                        </select>
                          <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="tipo.errors.required">
                                  La Tipo es invalido
                              </small>
                          </div>
                    </div>
                    <div class="form-group col-xs-12 text-right m-b-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



  </div>

<div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Edicion de datos</h4>
          </div>
          <div class="modal-body" *ngIf="selectedData">
              <form id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                  <div *ngIf="selectedUser.picture!=null" class="form-group col-xs-6 col-xs-offset-3">
                      <img src="{{selectedUser.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;">
                </div>

                <div class="form-group col-xs-6 col-xs-offset-3">
                  <input type="file" id="avatar" (change)="subirImagenes($event,EditForm.value,'avatar')"/>
                  <progress value="0" max="100" id="barra_de_progreso"></progress>
              </div>
                  <div class="form-group col-xs-12 m-b-15">
                      <label for="nombre">Nombre</label>
                      <input type="text" class="form-control" id="nombre" name="nombre" required
                              ngModel #nombre="ngModel" [(ngModel)]="selectedData.nombre">
                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="nombre.errors.required">
                                La Nombre es invalido
                            </small>
                        </div>
                  </div>
                  <div class="form-group col-xs-12 m-b-15">
                      <label for="apellido">Apellido</label>
                      <input type="text" class="form-control" id="apellido" name="apellido" required
                              ngModel #apellido="ngModel" placeholder="apellido" [(ngModel)]="selectedData.apellido">
                        <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="apellido.errors.required">
                                La Apellido es invalido
                            </small>
                        </div>
                  </div>
                  <div class="form-group col-xs-12 m-b-15">
                      <label for="telefono">Telefono</label>
                      <input type="text" class="form-control" id="telefono" name="telefono" required
                              ngModel #telefono="ngModel" placeholder="telefono" [(ngModel)]="selectedData.telefono">
                        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="telefono.errors.required">
                                La Telefono es invalido
                            </small>
                        </div>
                  </div>
                  <div class="form-group col-xs-12 m-b-15">
                      <label for="tipo">Tipo</label>
                      <select class="form-control" id="tipo" name="tipo" required
                              ngModel #tipo="ngModel" [(ngModel)]="selectedData.tipo">
                          <option *ngFor="let data of comboParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                      </select>
                        <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="tipo.errors.required">
                                La Tipo es invalido
                            </small>
                        </div>
                  </div>
                  <input type="hidden" class="form-control" id="id" name="id" required
                            ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                  <div class="form-group col-xs-12 text-right m-b-15">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                  </div>
              </form>

          </div>
          <div class="modal-footer" style="border:none;">

          </div>
      </div>
  </div>



</div>

<div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
  <app-loader></app-loader>
      </div>
    </div>
  </div>
