<div class="row bg-title">
    <div class="col-lg-12">
        <h4 class="page-title">{{title}}</h4>
        <ol class="breadcrumb">
            <li><a href="#">Administrador</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">{{title}}</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="card mb-3">
    <div class="card-body">

        <div class="table-responsive">
            <div class="box-body">

                <div class="col-sm-12">
                  <div class="white-box">
                      <h3>Data Table</h3>
                      <div class="row">
                        <div class="col-md-4 text-center">
                          <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertAutoModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button>
                        </div>
                        <div class="col-md-3 col-xs-offset-5">
                            <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                          </div>

                      </div>
                      <table class="table table-hover table-responsive" [mfData]="Table | filter : search" #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage">
                          <thead>
                            <tr>
                              <th style="width:10%;">
                                  <mfDefaultSorter by="torneos.nombre">Torneo</mfDefaultSorter></th>
                              <th style="width:10%;">
                                  <mfDefaultSorter by="tipos.nombre">Tipo</mfDefaultSorter></th>
                              <th style="width:10%;">
                                  <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter></th>
                              <th style="width:10%;">
                                  <mfDefaultSorter by="hora">Hora</mfDefaultSorter></th>
                              <th style="width:10%;">
                                  <mfDefaultSorter by="descripcion">Descripcion</mfDefaultSorter></th>
                              <th style="width:15%;">
                                  <mfDefaultSorter by="equipos[0].equipos.nombre">Local</mfDefaultSorter></th>
                              <th style="width:15%;">
                                  <mfDefaultSorter by="equipos[1].equipos.nombre">Visita</mfDefaultSorter></th>
                              <th style="width:20%;"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of mf.data">
                              <td>{{((data.torneos!=null)?data.torneos.nombre:'')}}</td>
                              <td>{{((data.tipos!=null)?data.tipos.nombre:'')}}</td>
                              <td>{{((data.fecha!=null)?data.fecha:'')}}</td>
                              <td>{{((data.hora!=null)?data.hora:'')}}</td>
                              <td>{{((data.descripcion!=null)?data.descripcion:'')}}</td>
                              <td>{{((data.equipos[0]!=null)?((data.equipos[0].equipos)?data.equipos[0].equipos.nombre:''):'')}}</td>
                              <td>{{((data.equipos[1]!=null)?((data.equipos[1].equipos)?data.equipos[1].equipos.nombre:''):'')}}</td>
                              <td>

                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                              </td>
                          </tr>

                          </tbody>
                          <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            </tfoot>
                      </table>
                  </div>
              </div>

            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
    </div>
  </div>
  <simple-notifications [options]="options"></simple-notifications>


  <div id="insertAutoModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title">Ingreso de datos</h4>
              </div>
              <div class="modal-body">
                  <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                      <div  class="form-group col-xs-6 m-b-15" >
                        <label for="fecha">Fecha</label>
                        <input type="date" name="fecha" class="form-control" id="fecha" required ngModel [(ngModel)]="beginDate" #fecha="ngModel"/>
                      </div>
                      <div  class="form-group col-xs-6 m-b-15" >
                        <label for="hora">Hora</label>
                        <input type="time" name="hora" class="form-control" id="hora" required ngModel [(ngModel)]="firstHora" #hora="ngModel"/>
                      </div>
                      <div  class="form-group col-xs-12 m-b-15" >
                        <label for="descripcion">Descripcion</label>
                        <input type="text" name="descripcion" class="form-control" id="descripcion" required ngModel #descripcion="ngModel"/>
                      </div>
                      <div class="form-group col-xs-4 m-b-15">
                          <label for="torneo">Torneo</label>
                          <select class="form-control" id="torneo" name="torneo" required
                                  ngModel #torneo="ngModel">
                              <option *ngFor="let data of comboSecondParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                            <div *ngIf="torneo.invalid && (torneo.dirty || torneo.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="torneo.errors.required">
                                    La Torneo es invalido
                                </small>
                            </div>
                      </div>
                      <div class="form-group col-xs-4 m-b-15">
                          <label for="tipo">Tipo</label>
                          <select class="form-control" id="tipo" name="tipo" required
                                  ngModel #tipo="ngModel">
                              <option *ngFor="let data of comboParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                            <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="tipo.errors.required">
                                    La Tipo es invalido
                                </small>
                            </div>
                      </div>
                      <div class="form-group col-xs-4 m-b-15">
                          <label for="grupo">Grupo</label>
                          <select class="form-control" id="grupo" name="grupo"
                                  ngModel #grupo="ngModel">
                              <option *ngFor="let data of comboThirthParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                            <div *ngIf="grupo.invalid && (grupo.dirty || grupo.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="grupo.errors.required">
                                    La grupo es invalido
                                </small>
                            </div>
                      </div>
                      <div class=" col-xs-12 text-center m-b-15">
                        <h2>Aplazar:</h2>
                        </div>
                      <div class=" col-xs-4 text-center m-b-15">
                        <label for="tipoAdd">Tipo</label>
                            <select name="tipoAdd" class="form-control" id="tipoAdd" [(ngModel)]="tipoConst" ngModel #cantidadAdd="ngModel">
                              <option value="1">Tiempo</option>
                              <option value="2">Fecha</option>
                            </select>
                      </div>
                      <div class=" col-xs-4 text-center m-b-15">
                        <label for="periodoAdd">Periodo</label>
                        <select *ngIf="tipoConst==1" name="periodoAdd" class="form-control" id="periodoAdd" [(ngModel)]="periodoConst" ngModel #cantidadAdd="ngModel">
                            <option value="1">Horas</option>
                            <option value="2">Minutos</option>
                            <option value="3">Segundos</option>
                          </select>
                        <select *ngIf="tipoConst==2" name="periodoAdd" class="form-control" id="periodoAdd" [(ngModel)]="periodoConst" ngModel #cantidadAdd="ngModel">
                            <option value="1">Dias</option>
                            <option value="2">Meses</option>
                            <option value="3">Años</option>
                          </select>
                      </div>
                      <div class=" col-xs-4 text-center m-b-15">
                        <label for="cantidadAdd">Cantidad a agregar</label>
                            <input type="number" name="cantidadAdd" class="form-control" id="cantidadAdd" [(ngModel)]="diasConst" ngModel #cantidadAdd="ngModel"/>
                      </div>
                      <div class=" col-xs-4 col-xs-offset-4 text-center m-b-15 p-t-3">
                            <span class="input-group-btn">
                                <button type="button" (click)="addDate(InsertForm.value)" class="btn btn-success"><i class="fa fa-plus"></i> Modificar Fecha</button>
                            </span>
                      </div>
                      <div class="form-group col-xs-12 text-right m-b-15">
                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                          <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                      </div>
                  </form>

              </div>
              <div class="modal-footer" style="border:none;">

              </div>
          </div>
      </div>



    </div>

  <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edicion de datos</h4>
            </div>
            <div class="modal-body" *ngIf="selectedData">
                <form id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                    <div  class="form-group col-xs-6 m-b-15" >
                        <label for="fecha">Fecha</label>
                        <input type="date" name="fecha" class="form-control" id="fecha" required ngModel [(ngModel)]="selectedData.fecha" #fecha="ngModel"/>
                      </div>
                      <div  class="form-group col-xs-6 m-b-15" >
                        <label for="hora">Hora</label>
                        <input type="time" name="hora" class="form-control" id="hora" required ngModel [(ngModel)]="selectedData.hora" #hora="ngModel"/>
                      </div>
                      <div  class="form-group col-xs-12 m-b-15" >
                        <label for="descripcion">Descripcion</label>
                        <input type="text" name="descripcion" class="form-control" id="descripcion" [(ngModel)]="selectedData.descripcion" ngModel #descripcion="ngModel"/>
                      </div>
                      <div class="form-group col-xs-4 m-b-15">
                          <label for="torneo">Torneo</label>
                          <select class="form-control" id="torneo" name="torneo" required
                                  ngModel #torneo="ngModel" [(ngModel)]="selectedData.torneo" (change)="cargarThirthParentCombo(torneo.value)">
                              <option *ngFor="let data of comboSecondParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                            <div *ngIf="torneo.invalid && (torneo.dirty || torneo.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="torneo.errors.required">
                                    La Torneo es invalido
                                </small>
                            </div>
                      </div>
                      <div class="form-group col-xs-4 m-b-15">
                          <label for="tipo">Tipo</label>
                          <select class="form-control" id="tipo" name="tipo" required
                                  ngModel #tipo="ngModel" [(ngModel)]="selectedData.tipo">
                              <option *ngFor="let data of comboParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                            <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="tipo.errors.required">
                                    La Tipo es invalido
                                </small>
                            </div>
                      </div>
                      <div class="form-group col-xs-4 m-b-15">
                          <label for="grupo">Grupo</label>
                          <select class="form-control" id="grupo" name="grupo"
                                  ngModel #grupo="ngModel">
                              <option *ngFor="let data of comboThirthParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                            <div *ngIf="grupo.invalid && (grupo.dirty || grupo.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="grupo.errors.required">
                                    La grupo es invalido
                                </small>
                            </div>
                      </div>

                      <div class=" col-xs-12 text-center m-b-15">
                          <h2>Siguiente partido en:</h2>
                          </div>
                        <div class=" col-xs-4 text-center m-b-15">
                          <label for="tipoAdd">Tipo</label>
                              <select name="tipoAdd" class="form-control" id="tipoAdd" [(ngModel)]="tipoConst" ngModel #cantidadAdd="ngModel">
                                <option value="1">Tiempo</option>
                                <option value="2">Fecha</option>
                              </select>
                        </div>
                        <div class=" col-xs-4 text-center m-b-15">
                          <label for="periodoAdd">Periodo</label>
                          <select *ngIf="tipoConst==1" name="periodoAdd" class="form-control" id="periodoAdd" [(ngModel)]="periodoConst" ngModel #cantidadAdd="ngModel">
                              <option value="1">Horas</option>
                              <option value="2">Minutos</option>
                              <option value="3">Segundos</option>
                            </select>
                          <select *ngIf="tipoConst==2" name="periodoAdd" class="form-control" id="periodoAdd" [(ngModel)]="periodoConst" ngModel #cantidadAdd="ngModel">
                              <option value="1">Dias</option>
                              <option value="2">Meses</option>
                              <option value="3">Años</option>
                            </select>
                        </div>
                        <div class=" col-xs-4 text-center m-b-15">
                          <label for="cantidadAdd">Cantidad a agregar</label>
                              <input type="number" name="cantidadAdd" class="form-control" id="cantidadAdd" [(ngModel)]="diasConst" ngModel #cantidadAdd="ngModel"/>
                        </div>
                        <div class=" col-xs-4 col-xs-offset-4 text-center m-b-15 p-t-3">
                              <span class="input-group-btn">
                                  <button type="button" (click)="addDate(InsertForm.value)" class="btn btn-success"><i class="fa fa-plus"></i> Modificar Fecha</button>
                              </span>
                        </div>
                      <input type="hidden" class="form-control" id="id" name="id" required
                              ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                    <div class="form-group col-xs-12 text-right m-b-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



  </div>

  <div class="modal fade" id="Loading">
      <div class="modal-dialog">
        <div class="text-center" style="margin-top:50%;">
    <app-loader></app-loader>
        </div>
      </div>
    </div>
