<div class="row bg-title">
  <div class="col-lg-12">
    <h4 class="page-title">{{title}}</h4>
    <ol class="breadcrumb">
        <li><a href="#">Administrador</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">{{title}}</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="card mb-3">
  <div class="card-body">

      <div class="table-responsive">
          <div class="box-body">

            <div class="col-sm-12">
                <div class="white-box">
                  <div class="row">
                    <div class="col-md-4 text-center">
                      <!-- <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button> -->
                    </div>

                  </div>
                  <form id="2" class="row"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">

                        <div class="form-group col-xs-6 m-b-15" >
                            <label for="description">Jugadores</label>
                            <input type="text" class="form-control" placeholder="Busqueda de Jugadores" [(ngModel)]="search1" [ngModelOptions]="{standalone: true}">
                            <div droppable (onDrop)="onItemRemove($event)" class="listaDrag">
                              <li draggable [dragData]="Data" *ngFor = "let Data of childs |filter:search1" class="alert alert-success" >
                                  <div class="">
                                      <label for="checkbox8"> {{((Data.jugadores.nombre!=null)?Data.jugadores.nombre:'')}} </label>
                                  </div>
                              </li>
                            </div>

                        </div>
                          <div  class="form-group col-xs-6 m-b-15" >
                            <label for="ligas">Titulares</label>
                            <input type="text" class="form-control" placeholder="Busqueda de Titulares" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                              <div droppable (onDrop)="onItemDrop($event)"  class="listaDrag " >
                                <li draggable [dragData]="item" *ngFor="let item of selectedData |filter:search" class="alert alert-info">
                                    <div class="input-group m-t-10 ">
                                        <label for="checkbox{{item.id}}" style="cursor:pointer;"> {{((item.jugadores.nombre!=null)?item.jugadores.nombre:'')}} </label>
                                        <span class="input-group-addon">
                                          <input *ngIf="item.titular=='1'" id="checkbox{{item.id}}" type="checkbox" (change)="setTitular(item.id,0)" #titularVal checked style="cursor:pointer;">
                                          <input *ngIf="item.titular=='0'" id="checkbox{{item.id}}" type="checkbox" (change)="setTitular(item.id,1)" #titularVal style="cursor:pointer;">
                                        </span>
                                    </div>
                                </li>
                              </div>
                            </div>

                        <div class="form-group col-xs-12 text-right m-b-15">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>

          </div>
      </div>
  </div>
  <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>


<div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingreso de datos</h4>
            </div>
            <div class="modal-body">
              <form id="insert-form2"  #InsertForm2="ngForm" (ngSubmit)="insert2(InsertForm2.value)">
                <div class="form-group col-xs-12 m-b-15">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required
                            ngModel #nombre="ngModel" placeholder="nombre">
                      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="nombre.errors.required">
                              La Nombre es invalido
                          </small>
                      </div>
                </div>
                <div class="form-group col-xs-12 m-b-15">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" required
                            ngModel #apellido="ngModel" placeholder="apellido">
                      <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="apellido.errors.required">
                              La Apellido es invalido
                          </small>
                      </div>
                </div>
                <div class="form-group col-xs-12 m-b-15">
                    <label for="telefono">Camiseta</label>
                    <input type="number" class="form-control" id="telefono" name="telefono"
                            ngModel #telefono="ngModel" placeholder="Camiseta">
                      <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="telefono.errors.required">
                              La Camiseta es invalido
                          </small>
                      </div>
                </div>
                <div class="form-group col-xs-12 m-b-15">
                    <label for="tipo">Tipo</label>
                    <select class="form-control" id="tipo" name="tipo" required
                            ngModel #tipo="ngModel">
                        <option *ngFor="let data of comboParent" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                    </select>
                      <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="tipo.errors.required">
                              La Tipo es invalido
                          </small>
                      </div>
                </div>

                <input type="hidden" class="form-control" id="equipo" name="equipo" required
                ngModel #equipo="ngModel" [(ngModel)]="id">

                <div class="form-group col-xs-12 text-right m-b-15">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </form>


            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



  </div>


  <div class="modal fade" id="Loading">
      <div class="modal-dialog">
        <div class="text-center" style="margin-top:50%;">
    <app-loader></app-loader>
        </div>
      </div>
    </div>

