<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
      <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg "  href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
          <div class="top-left-part">
              <a class="logo" href="index.html"><b><img src="../assets/images/fs-icon.png" alt="Home"></b><span id="apple-admin" class="hidden-xs"><img src="../assets/images/fs.png" alt="Home"></span></a>
          </div>
          <ul class="nav navbar-top-links navbar-left">
            <li><a (click)="hideNav()" class="open-close hidden-xs waves-effect waves-light"><i class=" ti-menu"></i></a></li>

            <!-- /.dropdown -->
            <li class="dropdown" *ngIf="type=='tutor'" (click)="updateNotifications()"> <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><i class="icon-bell"></i> <span class="badge badge-xs badge-success" *ngIf="nNotifications>0">{{nNotifications}}</span></a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li *ngFor="let data of notifications">
                        <a (click)="updateNotification(data.id)" [routerLink]="[ './tutor/alumnos' , 1 ]">
                            <div> <i *ngIf="data.type==2" class="ti-check fa-fw"></i> <i *ngIf="data.type==1" class="ti-folder fa-fw"></i> {{data.title}}  </div>
                        </a>
                      <div class="divider"style="padding: 0px;margin: 0px;"></div>
                    </li>

                </ul>
                <!-- /.dropdown-alerts -->
            </li>
        </ul>
          <ul class="nav navbar-top-links navbar-right pull-right">
              <li>
                  <form role="search" class="app-search hidden-xs">
                      <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
              </li>
              <li class="dropdown">
                  <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="{{((picture!='null')?(picture):'https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png')}}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{((firstname!="null")?(firstname+' '):'')+((lastname!="null")?lastname:user)}}</b> </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li *ngIf="type=='admin'"><a routerLinkActive="active"
                        [routerLink]="[ './admin/profile' ]"><i class="ti-user"></i> Mi Perfil</a></li>
                      <li *ngIf="type=='liga'"><a routerLinkActive="active"
                        [routerLink]="[ './liga/profile' ]"><i class="ti-user"></i> Mi Perfil</a></li>
                      <li *ngIf="type=='equipo'"><a routerLinkActive="active"
                        [routerLink]="[ './equipo/profile' ]"><i class="ti-user"></i> Mi Perfil</a></li>
                      <li *ngIf="type=='arbitro'"><a routerLinkActive="active"
                        [routerLink]="[ './arbitro/profile' ]"><i class="ti-user"></i> Mi Perfil</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/" (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->
          </ul>
      </div>
      <!-- /.navbar-header -->
      <!-- /.navbar-top-links -->
      <!-- /.navbar-static-side -->
  </nav>

  <div class="navbar-default sidebar nicescroll" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
<!-- inicia menu arbitro -->
    <ul *ngIf="type=='arbitro'" class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
        </span> </div>
        <!-- /input-group -->
    </li>
    <li  class="nav-small-cap">Arbitro</li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './arbitro/dashboard' ]" class="waves-effect"><i class="icon-speedometer fa-fw"></i> Dashboard</a>
    </li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './arbitro/goles' ]" class="waves-effect"><i class="fa fa-circle fa-fw"></i> Goles</a>
    </li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './arbitro/tarjetas' ]" class="waves-effect"><i class="fa fa-tag fa-fw"></i> Tarjetas</a>
    </li>
    <li *ngIf="admin==1"> <a routerLinkActive="active"
      [routerLink]="[ './arbitro/arbitraje' ]" class="waves-effect"><i class="fa  fa-code-fork fa-fw"></i> Arbitraje</a>
    </li>

  </ul>
<!-- fin menu arbitro -->
<!-- inicia menu liga -->
    <ul *ngIf="type=='liga'" class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
        </span> </div>
        <!-- /input-group -->
    </li>
    <li  class="nav-small-cap">Liga</li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './liga/dashboard' ]" class="waves-effect"><i class="icon-speedometer fa-fw"></i> Dashboard</a>
    </li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './liga/calendario' ]" class="waves-effect"><i class="fa fa-calendar fa-fw"></i> Calendario</a>
    </li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './liga/penalizaciones' ]" class="waves-effect"><i class="fa fa-exclamation-circle fa-fw"></i> Penalizaciones</a>
    </li>
    <li data-toggle="collapse" href="#Elements"> <a  class="waves-effect"><i class=" fa fa-gear fa-fw"></i> Administracion<span class="fa arrow"></span>  </a>
    </li> <ul class="collapse nav nav-second-level" id="Elements">
        <li> <a routerLinkActive="active"
          [routerLink]="[ './liga/jugadores' ]" class="waves-effect"><i class="fa fa-user  fa-fw"></i> Jugadores</a>
        </li>
        <li> <a routerLinkActive="active"
          [routerLink]="[ './liga/equipos' ]" class="waves-effect"><i class="fa fa-group fa-fw"></i> Equipos</a>
        </li>
        <li> <a routerLinkActive="active"
          [routerLink]="[ './liga/torneos' ]" class="waves-effect"><i class="fa fa-sitemap fa-fw"></i> Torneos</a>
        </li>
        <li> <a routerLinkActive="active"
          [routerLink]="[ './liga/partidos' ]" class="waves-effect"><i class="fa fa-exchange fa-fw"></i> Partidos</a>
        </li>
        <li> <a routerLinkActive="active"
          [routerLink]="[ './liga/arbitros' ]" class="waves-effect"><i class="fa fa-male fa-fw"></i> Arbitros</a>
        </li>
        <li> <a routerLinkActive="active"
          [routerLink]="[ './liga/grupos' ]" class="waves-effect"><i class="fa fa-users fa-fw"></i> Grupos</a>
        </li>

      </ul>
    <li data-toggle="collapse" href="#Assigns"> <a  class="waves-effect"><i class=" fa fa-sign-in fa-fw"></i> Asignaciones<span class="fa arrow"></span>  </a>
    </li> <ul class="collapse nav nav-second-level" id="Assigns">
        <li> <a routerLinkActive="active"
          [routerLink]="[ './liga/equipos-partidos' ]" class="waves-effect"><i class="fa fa-list-alt  fa-fw"></i> Equipos a Partidos</a>
        </li>

        <li> <a routerLinkActive="active"
          [routerLink]="[ './liga/jugadores-equipos' ]" class="waves-effect"><i class="fa  fa-group fa-fw"></i> Jugadores a Equipos</a>
        </li>

        <li> <a routerLinkActive="active"
          [routerLink]="[ './liga/arbitraje' ]" class="waves-effect"><i class="fa  fa-code-fork fa-fw"></i> Arbitraje</a>
        </li>
      </ul>
  </ul>
<!-- fin menu liga -->
<!-- inicia menu equipo -->
    <ul *ngIf="type=='equipo'" class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
        </span> </div>
        <!-- /input-group -->
    </li>
    <li  class="nav-small-cap">Equipo</li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './equipo/dashboard' ]" class="waves-effect"><i class="icon-speedometer fa-fw"></i> Dashboard</a>
    </li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './equipo/calendario' ]" class="waves-effect"><i class="fa fa-calendar fa-fw"></i> Calendario</a>
    </li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './equipo/partidos' ]" class="waves-effect"><i class="fa fa-exchange fa-fw"></i> Partidos</a>
    </li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './equipo/jugadores-admin' ]" class="waves-effect"><i class="fa fa-group fa-fw"></i> Jugadores Administrador</a>
    </li>
    <li> <a routerLinkActive="active"
      [routerLink]="[ './equipo/jugadores' ]" class="waves-effect"><i class="fa fa-group fa-fw"></i> Jugadores</a>
    </li>
  </ul>
<!-- fin menu equipo -->
<!-- inicia menu administrador -->
    <ul *ngIf="type=='admin'" class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
          <div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
          <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
          </span> </div>
          <!-- /input-group -->
      </li>
      <li  class="nav-small-cap">Administrador</li>
      <li> <a routerLinkActive="active"
        [routerLink]="[ './admin/dashboard' ]" class="waves-effect"><i class="icon-speedometer fa-fw"></i> Dashboard</a>
      </li>
      <li data-toggle="collapse" href="#Users"> <a  class="waves-effect"><i class=" fa fa-user fa-fw"></i> Usuarios<span class="fa arrow"></span>  </a>
      </li><ul class="collapse nav nav-second-level" id="Users">
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/usuarios' ]" class="waves-effect"><i class="icon-user fa-fw"></i> Usuarios</a>
          </li>
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/usuarios-tipo' ]" class="waves-effect"><i class="icon-user fa-fw"></i> Tipos de Usuarios</a>
          </li>
        </ul>
      <li data-toggle="collapse" href="#TiposTodos"> <a  class="waves-effect"><i class=" fa fa-spin fa-gear fa-fw"></i> Tipos<span class="fa arrow"></span>  </a>
      </li> <ul class="collapse nav nav-second-level" id="TiposTodos">
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/tipo-jugadores' ]" class="waves-effect"><i class="fa fa-user  fa-fw"></i> Jugadores</a>
          </li>
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/tipo-equipos' ]" class="waves-effect"><i class="fa fa-users fa-fw"></i> Equipos</a>
          </li>
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/tipo-partidos' ]" class="waves-effect"><i class="fa fa-exchange fa-fw"></i> Partidos</a>
          </li>
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/tipo-torneos' ]" class="waves-effect"><i class="fa fa-sitemap fa-fw"></i> Torneos</a>
          </li>
        </ul>
      <li data-toggle="collapse" href="#Elements"> <a  class="waves-effect"><i class=" fa fa-gear fa-fw"></i> Administracion<span class="fa arrow"></span>  </a>
      </li> <ul class="collapse nav nav-second-level" id="Elements">
        <li> <a routerLinkActive="active"
          [routerLink]="[ './admin/ligas' ]" class="waves-effect"><i class="fa fa-list fa-fw"></i> Ligas</a>
        </li>
        <li> <a routerLinkActive="active"
          [routerLink]="[ './admin/torneos' ]" class="waves-effect"><i class="fa fa-sitemap fa-fw"></i> Torneos</a>
        </li>
        <li> <a routerLinkActive="active"
          [routerLink]="[ './admin/equipos' ]" class="waves-effect"><i class="fa fa-users fa-fw"></i> Equipos</a>
        </li>

        <li> <a routerLinkActive="active"
          [routerLink]="[ './admin/grupos' ]" class="waves-effect"><i class="fa fa-users fa-fw"></i> Grupos</a>
        </li>
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/jugadores' ]" class="waves-effect"><i class="fa fa-user  fa-fw"></i> Jugadores</a>
          </li>
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/partidos' ]" class="waves-effect"><i class="fa fa-exchange fa-fw"></i> Partidos</a>
          </li>
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/arbitros' ]" class="waves-effect"><i class="fa fa-male fa-fw"></i> Arbitros</a>
          </li>
        </ul>
      <li data-toggle="collapse" href="#Assigns"> <a  class="waves-effect"><i class=" fa fa-sign-in fa-fw"></i> Asignaciones<span class="fa arrow"></span>  </a>
      </li> <ul class="collapse nav nav-second-level" id="Assigns">
          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/torneos-ligas' ]" class="waves-effect"><i class="fa fa-circle-o-notch  fa-fw"></i> Torneos a Ligas</a>
          </li>

          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/jugadores-equipos' ]" class="waves-effect"><i class="fa  fa-group fa-fw"></i> Jugadores a Equipos</a>
          </li>

          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/equipos-partidos' ]" class="waves-effect"><i class="fa fa-list-alt  fa-fw"></i> Equipos a Partidos</a>
          </li>

          <li> <a routerLinkActive="active"
            [routerLink]="[ './admin/arbitraje' ]" class="waves-effect"><i class="fa  fa-code-fork fa-fw"></i> Arbitraje</a>
          </li>
        </ul>
    </ul>
<!-- fin menu administrador -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
<div id="page-wrapper">
  <div class="container-fluid">
<router-outlet></router-outlet>
  </div>
</div>

<div id="ChangePass"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Cambio de contraseña</h4>
          </div>
          <div class="modal-body">
            <form id="passChange-form"  #passChange="ngForm" (ngSubmit)="updatePass(passChange.value)">
              <div class="form-group col-xs-12 m-b-15">
                    <label for="old_pass">Contraseña Actual</label>
                    <input type="password" class="form-control" id="old_pass" name="old_pass" required
                            ngModel #old_pass="ngModel" >
                      <div *ngIf="old_pass.invalid && (old_pass.dirty || old_pass.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="old_pass.errors.required">
                              La Contraseña Actual es invalida
                          </small>
                      </div>
              </div>

              <div class="form-group col-xs-12 m-b-15">
                    <label for="new_pass">Contraseña Nueva</label>
                    <input type="password" class="form-control" id="new_pass" name="new_pass" required
                            ngModel #new_pass="ngModel">
                      <div *ngIf="new_pass.invalid && (new_pass.dirty || new_pass.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="new_pass.errors.required">
                              La Contraseña Nueva es invalida
                          </small>
                      </div>
              </div>
              <div class="form-group col-xs-12 m-b-15">
                    <label for="new_pass2">Repita la Contraseña Nueva</label>
                    <input type="password" class="form-control" id="new_pass2" name="new_pass2" required
                            ngModel #new_pass2="ngModel">
                      <div *ngIf="new_pass2.value != new_pass.value"
                            class="alert alert-danger" role="alert">
                          <small>
                              Las contraseñas deben ser Iguales
                          </small>
                      </div>
              </div>
              <div class="form-group col-xs-12 text-right m-b-15">
                  <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Cambiar Contraseña</button>
              </div>
          </form>

          </div>
          <div class="modal-footer" style="border:none;">

          </div>
      </div>
  </div>



</div>

<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:50%;">
<loaders-css [loader]="'line-scale'" [loaderClass]="'loader1'" ></loaders-css>


    </div>
  </div>
</div>
